

.Discreption{
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    border-color: transparent;
    font-size: 15px;
    font-weight: bold;

}
p{
    margin: 10px;
    padding: 10px;
    border: 1px solid;

    .Discreption{
        padding: 10px;
        margin: 10px;
        border: 1px solid;
        border-color: transparent;
        font-size: 15px;
        font-weight: bold;
    
    }
    p{
        margin: 10px;
        padding: 10px;
        border: 1px solid;
        border-color: transparent;
        font-size: 15px;
        font-weight: bold;
    }
    body{
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        /* background-image: url(blurred-restaurant-with-many-lights.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y:-200px ; */
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li{
        margin: 5px;
        padding: 10px;
        border: 1px solid;
        border-color: transparent;
    
    }
    
    border-color: transparent;
    font-size: 15px;
    font-weight: bold;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-color: transparent;

}
